/* ------------------------*\
      global scss files 
\* ------------------------*/
/**
 * 
 * Functions
 *
 */
/**
 * 
 * Variables for Responsive media Query
 *
 */
/**
 * 
 * Variables for All Colors and backgrounds
 *
 */
/* ------------------------*\
     Featured section Game 
\* ------------------------*/
.features__games .features__games--bg .features__games--bg-img {
  max-width: 855px;
  max-height: 326px;
  height: 326px;
  overflow: hidden;
}

.features__games .features__games--bg .features__games--bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__games .features__games--bg .white__bg {
  background: #fff;
  padding: 2.3rem;
}

.features__games .features__games--bg .features__games--description h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Tajawal';
  text-transform: capitalize;
}

.features__games .features__games--bg .features__games--description h2 .slug {
  display: block;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.features__games .features__games--bg .features__games--description .features__games--description-text p {
  font-size: 19px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

.features__games .features__games--bg .features__games--description .features__games--description-downloads {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: rgba(60, 60, 61, 0.66);
  display: block;
  margin-bottom: 0.51rem;
}

.features__games .features__games--bg .features__games--description .features__games--description-more {
  font-size: 20px;
  background: #572589;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.features__games .features__games--bg .features__games--description .features__games--description-more:hover {
  background: rgba(87, 37, 137, 0.73);
}

html, body {
  font-family: 'Tajawal';
  background-color: #f5f5f5;
}

.button-more {
  font-size: 20px;
  background: #572589;
  color: #fff !important;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.button-more:hover {
  background: rgba(87, 37, 137, 0.89);
  color: #fff;
}

.white__bg {
  background: #fff;
}

@media (min-width: 1025px) {
  .col-xl-20 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
    max-width: 20% !important;
  }
  .col-xl-20 .most__recommend--list-item_image {
    width: 200px;
    height: 210px;
    margin: auto;
  }
  #game-list .col-xl-20 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
    max-width: 20% !important;
  }
  #game-list .col-xl-20 .most__recommend--list-item_image {
    width: 200px !important;
    height: 200px !important;
  }
}

@media (max-width: 481px) {
  .most__recommend .most__recommend--title h4 {
    font-size: 16px;
  }
}

@media (min-width: 482px) and (max-width: 1025px) {
  .features__games .features__games--bg .white__bg {
    padding: 1.3rem;
  }
}

/* ------------------------*\
those are icone generated by me 
to fit with design
\* ------------------------*/
/**
 * 
 * Global Classes that we can use it
 *  more times to handles html tags except the Html Forms 
 * 
 * {_formsControls.scss} file it handle form and btns html tags  
 *
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?aedafx");
  src: url("../fonts/icomoon.eot?aedafx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?aedafx") format("truetype"), url("../fonts/icomoon.woff?aedafx") format("woff"), url("../fonts/icomoon.svg?aedafx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-points:before {
  content: "\e905";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-back:before {
  content: "\e901";
}

.icon-checked:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}

.icon-star-rating:before {
  content: "\e904";
}

/* ------------------------*\
this is font family for the 
		website 
\* ------------------------*/
@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Bold.eot");
  src: url("../fonts/Tajawal-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Bold.woff2") format("woff2"), url("../fonts/Tajawal-Bold.woff") format("woff"), url("../fonts/Tajawal-Bold.ttf") format("truetype"), url("../fonts/Tajawal-Bold.svg#Tajawal-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Regular.eot");
  src: url("../fonts/Tajawal-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Regular.woff2") format("woff2"), url("../fonts/Tajawal-Regular.woff") format("woff"), url("../fonts/Tajawal-Regular.ttf") format("truetype"), url("../fonts/Tajawal-Regular.svg#Tajawal-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Medium.eot");
  src: url("../fonts/Tajawal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff"), url("../fonts/Tajawal-Medium.ttf") format("truetype"), url("../fonts/Tajawal-Medium.svg#Tajawal-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ------------------------*\
     Components scss files 
\* ------------------------*/
/* ------------------------*\
     header scss styles
\* ------------------------*/
.header__section {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0.2rem rgba(0, 0, 0, 0.1);
}

.header__section .header__section--logo a img {
  width: 100%;
}

.header__section .header__section--search a {
  color: #572589;
  cursor: pointer;
  display: block;
}

.header__section .header__section--search .header__section--search-popup {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
  top: 0;
  right: 0;
  padding: 1rem 0.5rem;
  -webkit-box-shadow: 0px 0px 8px 0.2rem rgba(0, 0, 0, 0.41);
          box-shadow: 0px 0px 8px 0.2rem rgba(0, 0, 0, 0.41);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header__section .header__section--search .header__section--search-popup.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header__section .header__section--search .header__section--search-popup:focus-within {
  -webkit-box-shadow: 0px 0px 13px 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 13px 0.2rem rgba(0, 0, 0, 0.2);
}

.header__section .header__section--search .header__section--search-popup form {
  position: relative;
}

.header__section .header__section--search .header__section--search-popup form input[type="text"].form-control {
  border: 0;
  height: calc(2.5em + 0.75rem + 2px);
  color: #572589;
  font-weight: 500;
  padding-right: 60px;
}

.header__section .header__section--search .header__section--search-popup form input[type="text"].form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__section .header__section--search .header__section--search-popup form a {
  position: absolute;
  top: 7px;
  right: 26px;
  font-size: 2rem;
  color: rgba(87, 37, 137, 0.54);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header__section .header__section--search .header__section--search-popup form a:hover {
  color: #572589;
}

.header__section .header__section--search .header__section--search-popup form button {
  position: absolute;
  right: 50px;
  border-radius: 0;
  border: 0;
  top: 50%;
  font-size: 1.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #572589;
  cursor: pointer;
}

.header__section .header__section--search .header__section--search-popup form button:hover, .header__section .header__section--search .header__section--search-popup form button:active {
  background-color: transparent;
  border: 0;
  color: #572589;
}

.header__section .header__section--search .header__section--search-popup form button:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__section .header__section--search .header__section--search-popup .auto-complete-list {
  border-top: 1px solid;
  padding-top: 25px;
  height: 325px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 769px) {
  .header__section .header__section--search .header__section--search-popup .auto-complete-list {
    border-top: 1px solid;
    padding-top: 25px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .header__section .header__section--search .header__section--search-popup .auto-complete-list .list-item_image--rating {
    left: 39px;
  }
}

.header__section .header__section--search .header__section--search-popup .auto-complete-list .most__recommend--list-item {
  padding: 0rem 2rem;
}

.header__section .header__section--search .header__section--search-popup .auto-complete-list .most__recommend--list-item .most__recommend--list-item_image {
  width: 190px;
  height: 190px;
  margin: auto;
}

.header__section .header__section--search .header__section--search-popup .auto-complete-list .most__recommend--list-item .most__recommend--list-item_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ------------------------*\
 game card scss section  styles
\* ------------------------*/
.most__recommend--list-item {
  position: relative;
  margin-bottom: 1.5rem;
}

.most__recommend--list-item .most__recommend--list-item_image {
  border-radius: 18px;
  overflow: hidden;
}

.most__recommend--list-item .most__recommend--list-item_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.most__recommend--list-item .most__recommend--list-item_image .list-item_image--rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  border-radius: 8px;
  min-width: 60px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.most__recommend--list-item .most__recommend--list-item_image .list-item_image--rating span {
  margin-left: 0.5rem;
  color: #060606;
  font-weight: 600;
}

.most__recommend--list-item .most__recommend--list-item_image .list-item_image--rating i {
  color: #572589;
}

.most__recommend--list-item .most__recommend--list-item_desc p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0.8rem;
  color: #444242;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* ------------------------*\
filter scss section styles
\* ------------------------*/
.category {
  background: #fff;
  -webkit-box-shadow: 0px 0px 11px 0.2rem rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 11px 0.2rem rgba(0, 0, 0, 0.04);
}

.category .category__cat--slider .item {
  color: #545454;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 1px solid #d2d2d2;
  background: #fff;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.category .category__cat--slider .item.active {
  border-color: #572589;
  background: #572589;
  color: #fff;
}

.category .category__cat--slider .item i {
  display: none;
}

.category .category__cat--slider .item i.active {
  display: inline-block;
}

.category .category__cat--slider .item:hover {
  border-color: #572589;
  background: #572589;
  color: #fff;
}

.category .category__cat--slider .owl-stage-outer .owl-stage {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------------------------*\
videos__Details scss section styles
\* ------------------------*/
.detail__games--bg .white__bg {
  padding: 2rem;
}

.detail__games--bg .detail__games--image-wrap {
  max-height: 320px;
  overflow: hidden;
}

.detail__games--bg .detail__games--image-wrap img {
  width: 100%;
}

.detail__games--bg .detail__games--description {
  -webkit-transition: height ease-in 0.2s;
  transition: height ease-in 0.2s;
  height: 213px;
  overflow: hidden;
  position: relative;
}

.detail__games--bg .detail__games--description::after {
  position: absolute;
  content: '';
  bottom: -13px;
  width: 100%;
  height: 30px;
  filter: blur(8px);
  -webkit-filter: blur(7px);
  left: 0;
  background: #fff;
}

.detail__games--bg .detail__games--description.read-more {
  height: 100%;
}

.detail__games--bg .detail__games--description.read-more::after {
  position: relative;
}

.detail__games--bg .detail__games--description h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: "Tajawal";
  text-transform: capitalize;
  margin-bottom: 0;
}

.detail__games--bg .detail__games--description h2 .slug {
  display: block;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.detail__games--bg .detail__games--description .detail__games--description-downloads {
  color: rgba(60, 60, 61, 0.5);
  font-weight: 600;
  text-transform: capitalize;
  display: block;
}

.detail__games--bg .detail__games--description-more {
  color: #572589;
  font-weight: bold;
  text-transform: capitalize;
}

.detail__games--bg .detail__games--description-more:focus, .detail__games--bg .detail__games--description-more:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: 0px;
}

/* ------------------------*\
 lists scss section  styles
\* ------------------------*/
.most__recommend .most__recommend--title {
  padding: 1rem;
}

.most__recommend .most__recommend--title h4 {
  text-transform: capitalize;
  font-weight: bold;
  color: #232222;
}

.most__recommend .most__recommend--title a {
  text-decoration: none;
  color: #572589;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.most__recommend .most__recommend--title a i {
  margin-left: 0.5rem;
  font-size: 15px;
}
/*# sourceMappingURL=styles.css.map */